.experience-card {
    padding: 20px;
    margin: 15px 0;
    box-shadow: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    width: 100%;
}

.experience-card__box1 {
    width: 60%;
}
.experience-card__box2 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.experience-card__box2 img {
    width: 100%;
}
.experience-card__title {
    font-size: 20px;
    font-weight: bold;
}
.experience-card__company {
    color: #00a8cc;
}
.experience-card__date {
    color: #646363;
}

.experience-card__location {
    color: #646363;
}

.experience-card__description {
    margin-top: 10px;

}

@media screen and (max-width: 768px) {
    .experience-card {
        display: block;
    }
    .experience-card__box1 {
        width: 100%;
    }
    .experience-card__box2 {
        padding-top: 15px;
        width: 100%;
    }
    .experience-card__box2 img {
        width: 100%;
    }
}