.spacer {
    height: 70px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #005082;
    padding: 7px 0 7px 0;
    color: white;
    text-align: center;
    font-weight: 300;
}
