.header__brand {
    width: 100vw;
    margin: 10px 0 5px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.header__brand--img {
    height: 50px;
    width: 50px;
}
.header__brand--text {
    margin: 0;
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: center;
    background-color: #ffa41b;
}
.header__menu--list {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0;
    padding: 17px;
}
.header__menu--list li {
    font-size: 20px;
    margin: 0 10px;
    color: white;
}

.header__menu--icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__menu {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__menu--displayed {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        text-align: center;
        animation-name: fadeIn;
        animation-duration: 1s;
    }
    .header__menu--list {
        display: block;
    }
    .header__menu--list li:first-child {
        font-size: 30px !important;
        font-weight: bold;
        margin: 0 0 30px 0;
    }
    .header__menu--list li {
        margin: 10px 0;
    }
    .header__menu--icon {
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
