.container {
    padding: 20px 10%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}