.project-card {
    padding: 20px;
    margin: 15px 10px;
    box-shadow: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    height: auto;
}

.project-card__image {
    width: 100%;
}
.project-card__image img {
    width: 100%;
    border-radius: 10px;
    margin: 5px;
}

.project-card__title {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
    background-color: #005082;
    color: white;
}

.project-card__description {
    color: #646363;
}

.project-card__tags {
    margin-top: 10px;
}
.project-card__tags ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card__tags ul li {
    margin: 10px;
    color: #00a8cc;
}
.project-card__url {
    margin-top: 10px;
}
.project-card__url a {
    color: #00a8cc;
}

@media screen and (max-width: 768px) {
    .project-card {
        width: 70vw;
    }
}
