.education {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.education h3{
    font-size: 20px;
}
.education ul{
    list-style: none;
}
.education__education,
.education__courses,
.education__certifications {
    margin: 30px 0;
    max-width: 300px;
}


@media screen and (max-width: 1100px) {
    .education {
        justify-content: left;
    }
}