.projects {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    position: relative;
}
.projects__title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0 30px 0;
    color: #00a8cc;
}
.projects__list {
    display: flex;
    width: max-content;
}
