.technologies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.technologies__title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0 30px 0;
    color: #00a8cc;
}

@media screen and (max-width: 768px) {
    .technologies {
        display: block;
    }
}